:root{
    background-color: bisque;
}

header{
    padding: 0px 0px 20px 0px;
    position: fixed;
    top: -3%;
    left: 0%;
    font-family: "Kelly Slab", sans-serif;
    font-size: larger;
    max-width: fit-content;
}

header img{
    width: 30%;
    height: 30%;
    object-fit: contain;
    vertical-align: middle ;
    margin-right: 20px;
}

nav{
    width: 25%;

    position: fixed;

    right: 1%;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: bisque;
    border: 1px solid black;
    display: flex;
}
nav li{
    float: left;
    display: flex;
    flex-grow: 10;

}
li a{
    display: flex;
    color: black;
    text-align: center;

    font-size: 100%;
    text-wrap: wrap;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid black;
    justify-content: center;
    flex-grow: 10;

}
li a:hover {
    background-color: black;
    color: white;
  }


#textblock{
    position: fixed;
    top: 25%;
    left: 5%;
    display: block;
    font-size: 200%;
    padding: 8px;
    text-align: justify;

    font-family: "Kelly Slab", sans-serif;
}
#imagegroup{
    position: fixed;
    display: flex;
    right: 3%;
    top: 25%;
    flex-wrap: wrap;
    max-width: 28%;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;


}
div img{

    width: 200px;
    object-fit: fill;
    margin: 2px;

}
section{
    position: fixed;
    left:10%;
    bottom:1%;
    font-size: x-large;
    border-top: dotted black 2px;
    padding: 0%;

}
li div{
    font-family: "Wavefont", system-ui;
    font-stretch: extra-expanded;
    font-size: 50px;
}